/*
  $primary: #01d277;
  $background: #081b23;
  $text: #e3f4fc;
  $purple: #4902a3;
  $red: #d1225b;
  $lighterblue: #07364e;
*/
.app {
    background-color: #081b23;
    text-align: center;
    height: 100%;
    width: 100%;
    margin: 0;
    color: #e3f4fc;
    font-family: 'Lato', sans-serif;
}