a {
    text-decoration: none !important;
}

.movie-card-image {
    max-width: 200px;
    border-radius: 10px !important;
    position: relative;
}

.movie-card-title {
    margin-bottom: 0.5rem !important;
    line-height: 1.2rem;
}

.movie-card-subtitle {
    font-size: 0.75rem;
    color: #7fa3b5;
}

.movie-card-body {
    padding: 0 !important;
    color: #e3f4fc;
}

.movie-card {
    background-color: transparent !important;
    width: 10rem;
    padding-bottom: 0.5rem;
}

.movie-card-rating {
    margin-bottom: -2rem;
    margin-left: 1rem;
    position: relative;
    z-index: 1;
}