.verticallyPadded {
    padding-top: 4px;
    padding-bottom: 4px;
}

.movie-list-row {
    padding-top: 3px;
}

.movie-list-col {
    display: flex;
    align-items: center;
    padding: 5px;
    flex-direction: column;
}