.green-text {
    color: #01d277;
    opacity: 1;
    font-weight: bold;
}

.searchBarInput {
    border-radius: 20px !important;
}

input.searchBarInput::placeholder {
    color: #01d277;
    opacity: 1;
    font-weight: bold;
}